@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    outline: none;
    display: block;
    width: 100%;
}

a {
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 99999s;
    transition-property: background-color, color;
}
