@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        outline: none !important;
        display: block;
        width: 100%;
    }

    a {
        display: block;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition-delay: 99999s;
        transition-property: background-color, color;
    }

    textarea {
        outline: none !important;
        resize: none;
    }
}

@layer components {
    .btn {
        @apply block text-center p-3 rounded-sm transition uppercase text-xs cursor-pointer;
        letter-spacing: 0.1rem;
    }

    .btn:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .btn:hover {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    }

    .btn-primary {
        @apply text-white bg-blue
    }

    .btn-primary > i {
        @apply mr-2
    }

    .btn-success {
        @apply text-white bg-green
    }

    .btn-light {
        @apply text-gray hover:text-blue;
    }

    .btn-light-add {
        @apply text-2xs p-2 text-gray-dark hover:text-blue;
        letter-spacing: 0.05em;
    }

    .btn-light-success {
        @apply text-2xs p-2 text-gray-dark hover:text-green;
        letter-spacing: 0.05em;
    }

    .btn-light-delete {
        @apply text-2xs p-2 text-gray-dark hover:text-red;
        letter-spacing: 0.05em;
    }

    .ui-y-scroll {
        overflow-y: scroll;
    }
    .ui-x-scroll {
        overflow-x: scroll;
    }
    .ui-y-scroll::-webkit-scrollbar, .ui-x-scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .ui-y-scroll::-webkit-scrollbar-track, .ui-x-scroll::-webkit-scrollbar-track {
        background: none;
    }

    .ui-y-scroll::-webkit-scrollbar-thumb, .ui-x-scroll::-webkit-scrollbar-thumb {
        @apply bg-blue;
        border-radius: 20px;
    }

    .hover-ui-shadow {
        transition: 0.2s all ease-in-out;
    }

    .hover-ui-shadow:hover {
        box-shadow: 0 1px 10px rgb(0 0 0 / 20%), 0 4px 5px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 14%);
    }

    .link-gray-light {
        @apply transition text-gray-light hover:text-gray-lightest
    }

    .grid-col-users-list {
        grid-template-columns: max-content max-content max-content max-content min-content auto;
    }

    .grid-rows-delimiter {
        @apply col-span-full border-b border-oceanic-lighter;
    }
}
